// Primary

$red: hsl(0, 78%, 62%); // - Red: hsl(0, 78%, 62%)
$cyan: hsl(180, 62%, 55%); // - Cyan: hsl(180, 62%, 55%)
$orange: hsl(34, 97%, 64%); // - Orange: hsl(34, 97%, 64%)
$blue: hsl(212, 86%, 64%); // - Blue: hsl(212, 86%, 64%)

// Neutral

$blue_dark: hsl(234, 12%, 34%); // - Very Dark Blue: hsl(234, 12%, 34%)
$blue_grey: hsl(229, 6%, 66%); // - Grayish Blue: hsl(229, 6%, 66%)
$grey_light: hsl(0, 0%, 98%); // - Very Light Gray: hsl(0, 0%, 98%)
